<footer class="footer mt-auto py-3">
    <div class="container">
      <small>© Copyright <%= new Date().getFullYear() %>, João Américo. Code available on <a href="https://github.com/jcamerico/rpdr-prono">Github</a>.</small>
    </div>
</footer>
</body>
</html>