<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A form allowing an user to enter a forecast">
    <meta name="google-site-verification" content="YtLp9OK47oasl2XCIG-gzujhNhPx8--JKUBkQ-7om_Y" />
    <meta name="author" content="João Claudio Américo">
    <title>RuPaul's Drag Race UK vs The World: Le prono</title>
    
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cb58933ede.js" crossorigin="anonymous"></script>

</head>

<body>
<header>
    <div class="px-3 py-2 text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none"></a>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a href="/#main" class="nav-link active" aria-current="page">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/results#main" class="nav-link disabled">Results</a>
                    </li>
                    <% if (loggedIn) { %>
                        <li class="nav-item">
                            <a href="/logout" class="nav-link">Log out</a>
                        </li>
                    <% } %>                                                    
                </ul>
            </div>
        </div>
    </div>
</header>
<div>
    <img src="img/UKvsTW2022Cast_NoLogo.jpeg">
</div>