<%- include('partials/header') %> 

<section class="title">
    <h1>RuPaul's Drag Race All Stars 6: Le prono</h1>
</section>
<section class="thanks">
    <div class="first-section">
        <h1>Merci de ta participation! <i class="fas fa-heart"></i></h1>
    </div>
</section>

<%- include('partials/footer') %>