<%- include('partials/header') %> 

<section class="thanks">
    <div class="first-section form-section">
        <h1>Merci de ta participation! <i class="fas fa-heart"></i></h1>
    </div>
</section>

<%- include('partials/footer') %>