<%- include('partials/header') %>

<div class="jumbotron centered form-section" id="main">
    <div class="container">
        <h2>Welcome to the main stage of RPDR UK vs The World.</h2>
        <p>Ceci est un pretit prono entre amis pour les résultats de RPDR UK vs The World.</p>
        <p>Let the best drag queen win!</p>
        <a href="/login#main" class="btn btn-primary">Login</a>
        <a href="/register#main" class="btn btn-dark">Register</a>
    </div>
</div>

<%- include('partials/footer') %>