/*
Element styles
*/

body {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    background-color: #000D6B;
    color: #99DDCC;
}

h1 {
    font-size: 4vw;
    font-weight: 300;
    text-align: center;
    color: #99DDCC;
    font-family: 'Montserrat Alternates', sans-serif;
}

img {
    width: 100vw;
}

/*
Header classes
*/

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {    
    background-color: #9C19E0;
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #FF5DA2;
}

.title {
    padding-top: 2%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

/*
Submit form classes
*/

.form-section {
    padding-top: 3%;
    padding-bottom: 1%;
}

.first-section {
    background-color: #000D6B;
    color:#99DDCC
}

.second-section {
    background-color: #9C19E0;
    color: #000D6B;
}

.third-section {
    background-color: #99DDCC;
    color: #000D6B;
}

.submit-section {
    background-color: #99DDCC;
}

.submit-button {
    max-width: 500px;
}

.sub-text {
    color:#fff
}

/*
Results page
*/

.results {
    color: #99DDCC;
}

.correct {
    color: #FF5DA2;
    font-weight: 700;
}

.incorrect {
    color: #fff;
    text-decoration: line-through;
}

.unknown {
    color: #fff;
}

/*
Thanks page
*/
.thanks {
    background-color: #5800FF;
} 

/*
Footer
*/

footer {
    color: #fff;
}